<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="XML" path="*.xml" verb="*" modules="IsapiModule" scriptProcessor="%systemroot%\system32\inetsrv\asp.dll" resourceType="File" preCondition="bitness64" />
            <add name="PHP using FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(,*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <httpRedirect enabled="false" destination="autodiscover/autodiscover.xml" exactDestination="true" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
