<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="File" />
            <add name="XML" path="*.xml" verb="*" modules="IsapiModule" scriptProcessor="%systemroot%\system32\inetsrv\asp.dll" resourceType="File" preCondition="bitness64" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" enabled="false" stopProcessing="true">
                    <match url="(,*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Rewrite XML to PHP">
                    <match url="^mail/config-v1\.1\.xml$" />
                    <action type="Rewrite" url="mail/config-v1.1.php" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <httpRedirect enabled="false" destination="autodiscover/autodiscover.xml" exactDestination="true" httpResponseStatus="Permanent" />
        <staticContent>
            <remove fileExtension=".xml" />
            <mimeMap fileExtension=".xml" mimeType="application/xml" />
        </staticContent>
    </system.webServer>
</configuration>
